.price-box {
  padding: 45px 5px;
}

.price-table {
  display: grid;
  grid-template-columns: 45% 13% 13% 13% 13%;
  grid-template-rows: auto;
  align-items: center;
}

.price-table__length {
  display: block;
  font-family: "Involve";
  color: var(--purple-text);
  font-size: 7px;
  text-align: end;
}

.length1 {
  grid-column: 2;
}

.price-table__service,
.price-table__amount {
  font-family: "Involve";
  color: var(--main-text);
  font-size: 12px;
  display: block;
}

.price-table__amount {
  text-align: end;
}
