.price-box {
  padding: 45px 5px 45px 15px;
}

.price-table {
  display: grid;
  grid-template-columns: 45% 13% 13% 13% 13%;
  grid-template-rows: auto;
  align-items: center;
  row-gap: 7px;
  margin-bottom: 30px;
}

.price-table__single {
  grid-template-columns: 70% 20%;
}

.price-table__length {
  display: block;
  font-family: "Involve";
  color: var(--purple-text);
  font-size: 7px;
  text-align: end;
}

.length1 {
  grid-column: 2;
}

.price-table__service,
.price-table__amount {
  font-family: "Involve";
  color: var(--main-text);
  font-size: 12px;
  display: block;
}

.price-table__amount {
  text-align: end;
}

.price-from {
  font-size: 8px;
}

.title-inner-price {
  font-family: "Involve";
  color: var(--purple-text);
  font-size: 20px;
  padding-top: 20px;
  border-top: 1px solid #d0c6f6;
  margin-bottom: 20px;
}

.subtitle-inner-price {
  font-size: 15px;
  color: var(--purple-text);
  margin-bottom: 5px;
}
