.price {
  padding: 30px 3.5% 90px 15%;
}

.price__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.price__card {
  background-color: var(--soft-pink);
  padding: 30px 25px;
  min-width: 260px;
  max-width: 350px;
  width: 100%;
  box-sizing: border-box;
  height: 435px;
  border-radius: 4px;
  box-shadow:
    0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    2px 7px 4px 0px rgba(185, 147, 214, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title__service {
  font-family: "Forum", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  color: var(--main-text);
}

.title__master {
  color: var(--main-text);
  font-family: "Involve";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card__title {
  margin-bottom: 50px;
}

.services__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 50px;
}

@media (min-width: 1440px) {
  .price {
    padding-bottom: 290px;
  }
}
