.photo-img {
  height: 485px;
  border-radius: 4px;
  object-fit: cover;
  width: 350px;
}

@media (min-width: 1440px) {
  .photo-img {
    height: 535px;
    border-radius: 4px;
    object-fit: cover;
    width: 400px;
  }
}
