.header {
  padding: 15px;
  color: var(--head-text);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__contacts {
  display: flex;
  gap: 7px;
  align-items: center;
}

.header__right-box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.instagram-link {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url(/images/insta.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.instagram-link:hover {
  transform: scale(1.3);
  transition: transform 1s;
}

.phone-num {
  color: var(--head-text);
  font-family: "Forum", serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.svg-inline--fa .fa-bars {
  width: 22px;
  height: 22px;
}

@media (min-width: 768px) {
  .instagram-link {
    width: 27px;
    height: 27px;
  }

  .phone-num {
    font-size: 16px;
  }

  .header__menu {
    width: 27px;
    height: 27px;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 40px 40px 110px;
  }

  .header__contacts {
    gap: 20px;
  }

  .header__menu {
    display: none;
  }

  .phone-num {
    font-size: 20px;
  }

  .header__right-box {
    gap: 70px;
  }
}
