.footer {
  padding-bottom: 8px;
}

.footer__inner {
  padding: 20px 15px 50px;
  border-radius: 35px;
  background-color: var(--light-purple);
  box-shadow: 0px 4px 4px 0px #d0c6f6;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  gap: 27px;
  align-items: center;
}

.footer__logo .logo__link-footer,
.footer__logo .logo-link__upper-footer {
  color: var(--purple-text);
}

.footer__logo {
  margin-bottom: 28px;
}

.footer__nav {
  display: flex;
}

.nav__list,
.social-media__list,
.contacts__list {
  font-family: "Involve";
  font-size: 15px;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--purple-text);
}

.nav__link {
  color: inherit;
}

.social-media__item:hover,
.nav__item:hover,
.contacts__item:not(:last-of-type):hover {
  transform: scale(1.1);
  color: #641064;
  transition: transform 1s;
}

@media (min-width: 1440px) {
  .footer__inner {
    padding: 100px 40px 100px;
    display: flex;
    border-radius: 35px;
    background-color: var(--light-purple);
    box-shadow: 0px 4px 4px 0px #d0c6f6;
    justify-content: space-between;
  }

  .footer__content {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .nav__list,
  .social-media__list,
  .contacts__list {
    font-family: "Involve";
    font-size: 17px;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
}
