@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marmelad&display=swap");

@font-face {
  font-family: "Dance";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../src/fonts/dance_partner.woff2) format("woff2");
}

@font-face {
  font-family: "Involve";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(../src/fonts/Involve-Medium.woff2) format("woff2");
}

:root {
  --primary-background: #f9f3f9;
  --main-text: #563838;
  --head-text: #363636;
  --rouge: #b70114;
  --black: #000;
  --purple: #606;
  --purple-text: #660066cc;
  --light-purple: #ebe1f4b3;
  --white: #fff;
  --soft-pink: #e7ecfb33;
  --light-button-bg: #36363614;
  --light-brown: #58393996;
}

/* // .forum-regular {
//   font-family: "Forum", serif;
//   font-weight: 400;
//   font-style: normal;
// }

// .caveat-<uniquifier> {
//   font-family: "Caveat", cursive;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }

// .marmelad-regular {
//   font-family: "Marmelad", sans-serif;
//   font-weight: 400;
//   font-style: normal;
// } */

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

#root {
  background-color: var(--primary-background);
  color: var(--main-text);
  font-family: "Involve";
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.body {
  max-width: none;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Caveat";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: var(--rouge);
  margin-bottom: 15px;
}

@media (min-width: 1440px) {
  .title {
    font-size: 30px;
    margin-left: 25%;
  }
}
