.portfolio {
  padding: 75px 23% 35px 15%;
}

.portfolio__title {
  color: var(--main-text);
  margin-bottom: 10px;
}

.portfolio__item {
  max-width: 265px;
}

.portfolio____cover-img {
  max-width: 265px;
}

.portfolio__cover-img img {
  width: 100%;
  border-radius: 8px;
}

.portfolio__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 1440px) {
  .portfolio {
    padding: 135px 70px 135px;
  }

  .portfolio__item {
    max-width: 300px;
  }

  .portfolio__cover-img img {
    width: 300px;
    height: 395px;
  }

  .portfolio__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
  }

  .portfolio__cover-img:hover {
    transition:
      transform 0.8s,
      filter 0.5s;
    transform: scale(1.01);
    filter: drop-shadow(3px 5px 11px rgb(148, 119, 148));
  }
}
